{% extends "base.html" %}

{% block title %}Manager{% endblock %}

{% block content %}
<script>
$(function() {
	$( "#manager-table" ).sortable();//{placeholder: "ui-state-highlight"}
	$( "#manager-table" ).disableSelection();
});
</script>
<ul id="manager-table">
	{% for item in items %}
	<li class="{% if item.done %}done{% endif %}">{# {% cycle 'odd' 'even' %} #}
		<strong>{{item.name|safe}}</strong>
		<span class="controls">
		{% if item.done %}
			{# <a href="#view={{item.id|safe}}" class="line button">View Results</a> #}
			<a href="/jobs_finished/{{item.output}}" class="line button">View Results</a>
		{% else %}
			<a href="#pause={{item.id|safe}}" class="warning button">Pause</a>
			<a href="#stop={{item.id|safe}}" class="delete button">Stop</a>
		{% endif %}
		</span>
	</li>
	{% endfor %}
</ul>
<br>
<a href="/manager/upload" class="load button">Upload New Job</a>
{% endblock %}

{% block footer %}
{% if not user.is_anonymous %}<a href="/accounts/logout/?next=/" class="exit button">Log out</a>{% endif %}
{% endblock %}